*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --profile-background: #f0f2f5;
    --icons-color: #54656f;
    --border-color: #d8dadd;
    --scrollbar-color: #ced0d1;
}

.material-icons{
    color: var(--icons-color);
    cursor: pointer;
}

.wrapper{
    width: 100vw;
    height: 100vh;
    background-color: aquamarine;
}



/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
        Sidebar
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
.sidebar{
    width: 45%;
    background-color: white;
    border-right: var(--border-color);
}


/* Header */
.sidebar header{
    height: 10vh;
    background-color: var(--profile-background);
    padding: 0px 15px;
}

.sidebar .profile .beta_tag{
    font-size: 10px;
    font-weight: bold;
}

.sidebar header img{
    border-radius: 50%;
}

.sidebar header .menu_icons span{
    font-size: 26px;
    color: var(--icons-color);
}


/* Search Field */
.sidebar .search_field{
    border-bottom: 1px solid var(--border-color);
}

.sidebar .search_field .container{
    width: 92%;
    background-color: var(--profile-background);
    padding: 4px;
    border-radius: 10px;
}

.sidebar .search_field input{
    background-color: var(--profile-background);
    width: 280px;
    border: none;
    outline: none;
}


/* Contacts */
.contacts{
    height: 80vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

.contacts::-webkit-scrollbar{
    width: 6px;
    height: 6px;
}

.contacts::-webkit-scrollbar-thumb{
    background-color: var(--scrollbar-color);
}

.contacts .contact_box{
    padding: 6px 15px;
    height: 72px;
    border-bottom: 1px solid var(--border-color);
    cursor: pointer;
}

.contacts .contact_box:hover{
    background-color: var(--profile-background);
}

.contacts .user_profile{
    width: 55px;
    /* background-color: red; */
}

.contacts .user_info{
    /* background-color: green; */
}

.contacts img{
    border-radius: 50%;
}


.contacts .user_info .contact_name{
    font-size: 17px;
}

.contacts .user_info .message_part{
    font-size: 14px;
}

.contacts .user_info .receive_time{
    font-size: 12px;
}

.contacts .user_info .menu_icon{
    font-weight: 700;
    visibility: hidden;
}

.contacts .contact_box:hover .menu_icon{
    visibility: visible;
}



/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
        Main
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/


